.logo {
  float: left;
  padding: 20px;
  height: 30px;
  width: 65px;
}

.orange-background {
  background-color: #ff512f;
}

.black-shoe {
  padding-left: 300px;
  height: 448px;
  width: 876px;
}

.class-name {
  margin-top: 20px;
  padding-left: 80px;
  font-family: arial, sans-serif;
  color: #ff512f;
}

.class-name1 {
  padding-bottom: 30px;
  font-family: arial, sans-serif;
  color: #ffa6a7;
}


.white-sneakers {
  margin: 40px;
  padding:
  font-size:20px;
  font-family: arial, sans-serif;
  color: white;

}

.body-text {
 margin: 40px;
 padding:
 font-family: arial, sans-serif;
 color: white;

}
.body-textbox {
  margin: 40px;
  padding:
  font-family: arial, sans-serif;
  color: white;

}

.body-text2 {
 padding-left: 300px;
 font-family: arial, sans-serif;
 font-size: 40px;
 color: white;

}

.body-textline {
  padding-left: 150px;
  margin-left: 200px;
  margin-right: 200px;
  border-top: 2px dashed brown;
  border-bottom: 2px dashed brown;
  font-family: arial, sans-serif;
  color: white;
}

.brown-bigbold {
  padding-left: 300px;
  font-size:40px;
  font-family: arial, sans-serif;
  color: #503226;

}

.blue-shoe {
 margin: 40px;
 padding:
 height: 130px;
 width: 200px;
}

.blue-littleshoe {
  margin: 40px;
  padding:
  height: 130px;
  width: 200px;
}

.brown-littlebold {
  padding-left: 300px;
  font-size:20px;
  font-family: arial, sans-serif;
  color: #9f3227;
}

.brown-littlelight {
  padding-left: 300px;
  font-size:20px;
  font-family: arial, sans-serif;
  color: brown;

}

.right-aligned {
  padding-left: 300px;
  float: right;
  Padding-left: 20px;
}

.inline {
  display: inline-block;
}

.pad-left {
  padding-left: 0px;
  padding-right: 20px;
}

.pad-low {
  padding-top: 50px;
  padding-left: 175px;
  padding-bottom: 50px;

}

.floaterright {
 float: right;
 clear: right;
 margin-bottom: 20px;
}

.navigationbar {
 overflow: auto;
}
